$font-heiti-light: Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
$font-heiti-medium: Heiti SC Medium, Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;

@font-face {
  font-family: yofont;
  src: url("http://www.work.com/dragon-app/images/iconfont/iconfont.woff") format("woff"), url("http://www.work.com/dragon-app/images/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("http://www.work.com/dragon-app/images/iconfont/iconfont2.woff") format("woff"), url("http://www.work.com/dragon-app/images/iconfont/iconfont2.ttf") format("truetype");
}

body {
	background-color: #fff !important;
}
